apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: memcached
    repo: oci://registry-1.docker.io/bitnamicharts
    version: 8.2.3
    releaseName: memcached
    valuesFile: values.yaml