apiVersion: apps/v1
kind: Deployment
metadata:
  name: nexus
  namespace: nexus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nexus
  template:
    metadata:
      labels:
        app: nexus
    spec:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
      containers:
        - name: nexus
          image: docker.io/sonatype/nexus3:3.89.1
          resources:
            limits:
              memory: "16Gi"
              cpu: "8"
            requests:
              memory: "16Gi"
              cpu: "8"
          ports:
            - containerPort: 8081
          volumeMounts:
            - name: nexus-data
              mountPath: /nexus-data
      volumes:
        - name: nexus-data
          hostPath:
            path: /mnt/nfs/AppData/nexus
            type: Directory
      nodeSelector:
        kubernetes.io/os: linux
        kubernetes.io/arch: amd64
