apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: minio
    repo: oci://registry-1.docker.io/bitnamicharts
    version: 17.0.22
    releaseName: minio
    valuesFile: values.yaml
