apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: redis
    repo: oci://registry-1.docker.io/bitnamicharts
    version: 24.1.0
    releaseName: redis
    valuesFile: values.yaml